# Production App Settings
SECRET_KEY=your_very_secret_key_here
SQLALCHEMY_DATABASE_URI=sqlite:///med_adherence_v2.db

# If using PostgreSQL on Render, Render provides DATABASE_URL automatically.
# DATABASE_URL=postgresql://user:password@host/dbname

# Firebase Service Account JSON (Minified string)
FIREBASE_CREDENTIALS=
